/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .calendar-grid div {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .week-day {
    font-weight: bold;
    background-color: #f0f0f0;
  }