<div>
   <div class="p-5 pl-20 flex justify-between">

      <div class="flex mt-3 ">
             <img src="assets/airbnb_logo_icon_blanc.webp " alt="Logo"  class="w-12 h-12"/>
             <p class="text-red-500 text-3xl font-bold mt-2 font-circular ">airbnb</p>
     </div>

  <div class="flex justify-between mt-5">
      <p class="mr-10 text-black text-lg font-bold font-circular">Logements</p>
      <p class="text-lg text-gray-400  font-circular">Expériences</p>
  </div>
  
  <div class="mt-2 flex">
         <p class="mt-3 font-medium">Mettre mon logement sur Airbnb</p>
         <img src="assets/monde.png" alt="Logo"  class="w-4 h-4 ml-2 mt-4"/>
         <div class="flex border p-2 pl-3 pr-3 border-black rounded-full ml-5">
               <img src="assets/burger-bar.png" alt="Logo"  class="w-4 h-4 mr-4 mt-2"/>
               <img src="assets/utilisateur.png" alt="Logo"  class="w-8 h-8"/>
              
         </div>
  </div>
  
</div>
<div class="justify-center">

   <app-log-search></app-log-search>
   
</div>
  
</div>
